@import "tailwindcss";

/* Estilização extra para um visual mais "Premium" */
:root {
  background-color: #0f172a; /* Slate 900 */
  color: #f8fafc; /* Slate 50 */
}

@layer base {
  body {
    @apply antialiased;
  }
}

.clip-pointer {
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}